/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}












html, body{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: rgb(224, 224, 224);
    overflow-x: hidden;
}

h1{
    margin: 0;
}

#header{
    display: flex;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: rgb(12, 9, 30);
    left: 0;
    top: 0;
    padding-top: 1px;
}

#interfaceButtons{
    color: white;
    margin-left: 10%;
    
    height: 90%;
    width: 8%;
    
    position: relative;
    display: flex;
}

#interfaceButtons:hover{
    cursor: pointer;
}

.interfaceButton{
    flex: 1;
    background-color: aliceblue;
    color: black;
    display: flex;
    justify-content: center;
    padding: 1%;
    border: 1px solid rgb(12, 9, 30);
}

.inactiveIntButton{
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 1%;
    background-color: rgb(12, 9, 30);
    color: aliceblue;
    border: 1px solid aliceblue;
}

#headerText{
    display: flex;
    justify-content: center;
    height: 90%;
    width: auto;
    color: aliceblue;
    margin-left: 2%;
}



#mainContainer{
    position: relative;
    margin: 0;
    padding-top: 10%;
    width: 100%;
    height: 50vh;
    background-color: rgb(224, 224, 224);
    /*padding: 5% 0 0 5%;*/
    perspective: 1000px;
}

#mainContainer::after{
    content: ''; /* Required for the pseudo-element */
    position: absolute; /* Position the pseudo-element */
    top: 0; /* Start from the top */
    left: 0; /* Start from the left */
    width: 80%; /* Fill half of the parent */
    height: 100%; /* Take the full height of the parent */
    background: linear-gradient(to right, rgb(12, 9, 30), rgba(12, 9, 30, 0.8), rgba(13, 9, 30, 0.6), rgba(12, 9, 30, 0 )); /* Gradient for fading out */
    z-index: 0; /* Ensure the pseudo-element is above the background */
    pointer-events: none; /* Make it non-interactive */
}

#personalInfo{
    z-index: 1;
    width: auto;
    position: absolute;
    color: aliceblue;
    top: 30%;
    left: 5%;
    perspective: 1000px;
    display: flex;
    flex-direction: column;
    backface-visibility: hidden;
}

.loading-box {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: grey;
    overflow: hidden;
    border-radius: 5px;color: transparent;
}

.flipContainer{
    z-index: 1;
    position: relative;
    transform-origin: center center;
    width: 50%;
    transition: transform 2s;
    
    transform-style: preserve-3d;
    
}

.fullName{
    position: relative;
    /*transform-origin: center center;*/
    width: auto;
    font-size: 10vh;
    /*backface-visibility: hidden;*/
}

.flipBack{
    /*position: absolute;
    margin-left: 20%;

    transform: rotateY(180deg);
    backface-visibility: hidden;*/
    z-index: 1;
    width: 50vw;
    
    position: absolute;
    color: aliceblue;
    top: 30%;
    left: 0;
    perspective: 1000px;
    display: flex;
    flex-direction: column;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    
    
}

.flipped{
    transform: rotateY(180deg);
}

.jobTitle{
    position: relative;
    /*transform-origin: center center;*/
    width: auto;
    /*margin-top: 40%;*/
    font-size: 5vh;
    margin-top: 0.5%;
    /*backface-visibility: hidden;*/
}

.description{
    position: relative;
    /*transform-origin: center center;*/
    width: auto;
    font-size: 2vh;
    margin-top: 5%;
    /*backface-visibility: hidden;*/
}



#projects{ /*this is a div element*/
    position: relative;
    margin: 0;
    width: 100%;
    height: auto;
    background-color: rgb(224, 224, 224);
    padding: 0;
    
}

.projectContainer{ /*this is a div element and this is inthe projects div*/
    margin: 0;
    margin-bottom: 2%;
    width: 100%;
    max-width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    
}

.projectName{ /*this span element*/
    margin: 0;
    font-size: 5vh;
    
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    word-wrap: break-word;
}

.projectTable{
    width: 100%;
    height: 100%;
    margin: 0;
    margin-top: 2%;
}

/*.projectTable tr, td{
    border: 1px solid black;
    border-collapse: collapse;
}*/



.imageContainer{
    padding: 0;
    width: 40%;
    vertical-align: top;
}

.images{
    display: inline;
    width: 100%;
    height: auto;
    margin: 0;
}



#footer{
    padding: 2%;
    width: 100%;
    height: 10vh;
    bottom: 0;
    left: 0;
    background-color: rgb(12, 9, 30);
    position: relative;
    color: aliceblue;
}

#contact{
    position: absolute;
    backface-visibility: hidden;
}



.shiny-effect {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(100deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 70%);
    animation: shiny 1.5s infinite;
}

@keyframes shiny {
    to {
        left: 100%;
    }
}


@media (max-width: 767px){
    #mainContainer{
        height: 35vh;
    }

    #headerText{
        margin-left: 5%;
    }

    #interfaceButtons{
        margin-left: 0.5%;
    }
    
    .fullName{
        font-size: 10vw;
    }

    .jobTitle{
        font-size: 3vh;
        margin-top: 1%;
    }
}
