<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{css/index.css}">
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>The best developer</title>
    </head>

    <body>

        <div id="header">
            <div id="interfaceButtons" onclick="flipCard()">
                <div class="interfaceButton">Text</div>
                <div class="interfaceButton" id="apiButton">API</div>
            </div>
            
        </div>

        <div id="mainContainer">
            <div class="flipContainer">
            <div id="personalInfo">
                
                
                <div id="fullName" class="fullName">
                    <div class="loading-box">
                        <div class="shiny-effect"></div>
                    </div>
                        
                        
                </div>
                    
                
                
                
                <div id="jobTitle" class="jobTitle">
                    <div class="loading-box">
                        <div class="shiny-effect"></div>
                    </div>
                    
                </div>

                
                

                
                <div id="description" class="description">
                    <div class="loading-box">
                        <div class="shiny-effect"></div>
                    </div>
                </div>
                
            </div>
                <div class="flipBack">
                    <div class="fullName" style="font-size: 6vh;">/getMyData/fname+lname+/getMyAge</div>
                    <div class="jobTitle">/getMyData/jobTitle</div>
                    <div class="description">/getMyData/description</div>
                </div>
            </div>
        </div>
        <div id="projects">
            
        </div>

        <div id="footer">
            <div id="contact">
                <table>
                    <tbody id="contactBody">
                        <tr>
                            <td>

                            </td>
                            <td>
                                Phone number:
                            </td>
                            <td id="phoneNumber">

                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td>
                                Email: 
                            </td>
                            <td id="email">

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        
        
        
        <script type="text/javascript" th:src="@{js/index.js}"></script>
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function(){
                getMyData();
                getAllProjects();

                const apiButton = document.getElementById("apiButton");
                apiButton.classList.toggle('inactiveIntButton');
            });
        </script>
        
    </body>

</html>